header {
    background-color: #afeeee; /* Очень светлый бирюзовый */
    color: #333; /* Темный текст */
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 10px 0;
}

body {
    background-image: url(guitar-2886886.jpg);
    background-size: cover;
    padding-top: 15%;
    text-align: center;
    color: #333;
}

footer {
    padding: 10px;
    background-color: #afeeee; /* Очень светлый бирюзовый */
    color: #333; /* Темный текст */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; /* Светло-серая рамка */
    border-radius: 5px;
    background-color: #e0ffff; /* Светло-бирюзовый */
    color: #333; /* Темный текст */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Светло-серая рамка */
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #afeeee; /* Очень светлый бирюзовый */
    color: #333; /* Темный текст */
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #98f5ff; /* Ещё светлый бирюзовый при наведении */
}

/* style.css */

/* Стили для списка вопросов */
#questionsList {
    margin-top: 20px;
}

/* Стили для отдельного вопроса */
.question {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #e0ffff; /* Светло-бирюзовый */
}

/* Стили для заголовка вопроса */
.question h2 {
    font-size: 1.2em;
    color: #333; /* Темный текст */
    margin-bottom: 10px;
}

/* Стили для описания вопроса */
.question p {
    color: #666; /* Темно-серый текст */
    margin-bottom: 10px;
}

/* Стили для списка вариантов ответов */
.question ul {
    list-style-type: none;
    padding: 0;
}

/* Стили для каждого варианта ответа */
.question li {
    margin-bottom: 5px;
}

/* Стили для ссылок внутри вариантов ответов */
.question li a {
    color: #00f; /* Синий цвет */
    text-decoration: none;
}

/* Стили для активной ссылки внутри вариантов ответов */
.question li a:hover {
    text-decoration: underline;
    color: #f00; /* Красный цвет */
}
