header {
    background-color: #afeeee;
    color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 10px 0;
}

body {
    background-image: url(guitar-2886886.jpg);
    background-size: cover;
    padding-top: 15%;
    text-align: center;
    color: #333;
}

footer {
    padding: 10px;
    background-color: #afeeee;
    color: #333;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e0ffff;
    color: #333;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #afeeee;
    color: #333;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #98f5ff;
}


#questionsList {
    max-width: 80%;
    margin: 0 auto 150px;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 40px;
}


.question h2 {
    margin-bottom: 20px;
    font-size: 24px;
}


.question p {
    margin-bottom: 20px;
    font-size: 18px;
}


.buttons {
    margin-top: 20px;
    text-align: center;
}


.buttons button {
    margin-top: 10px;
    width: 100%;
    padding: 12px 24px;
    height: 50px;
    font-size: 18px;
    background-color: #afeeee;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons button:hover {
    background-color: #08484d93;
}

.variants input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.variants input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
}


/* Стили для радио кнопок */
.variants input[type="radio"] {
    display: none;
    /* Скрыть саму радио кнопку */
}

/* Стили для меток радио кнопок */
.variants label {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}


/* Стили для выбранного варианта */
.variants input[type="radio"]:checked+label {
    background-color: #afeeee !important;
    /* Цвет фона для выбранного варианта */
    color: #000 !important;
    /* Цвет текста для выбранного варианта */
    border-color: #afeeee !important;
    /* Цвет границы для выбранного варианта */
}